/*@charset "UTF-8";*/
/********************************************************************
 *****  CSS Documents                                           *****
 ********************************************************************
 *****  moz-linear-gradienter(red, green) - Firefox             *****
 *****  webkit-linear-gradienter(red, green) - Safari, Chrome   *****
 *****  o-linear-gradienter(red, green) - Opera                 *****
 ********************************************************************/
 /*   conteudo: #F2B705
    cabecalho: #F29F05
    equivalente: #D97904
    pepagina: #733702
    auxiliar: #401801 */

/********************************************
 *****              Monitor             *****
 ***** 736 x 1360 px - Monitor 15.6"    *****
 ***** 720 x 1280 px - Celular k9       *****
 ***** 600 x 1024 px - Tablet 7"        *****
 ********************************************/
/************************
 ***** Neutralidade *****
 ************************/
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, html, body, header, div, footer{
  margin: 0;
  padding: 0;
}
html, body{
    background-color: #FFFFFF;
    font-family: Arial, "Times New Roman";
}
/**************************************
 ***** TAG de Estrutura da página *****
 **************************************/
body{
    width: 100%;
    height: 100%;
}
header{
    width: 90%;
    height: 7%;
    margin: 0 auto;
    padding: 1px;
    border: 1px solid;
    border-color: darkblue;
    border-radius: 20px;
}
/*div{
    width: 90%;
    min-height: 65%;
    background-color: brown;
    margin: 0 auto;
}*/
footer{
    width: 90%;
    height: 4%;
    margin: 0 auto;
}
/****************************************************
 *****  Estrutura das DIV's do corpo da pagina  *****
 ****************************************************/
#wrapper{
    width: 90%;
    min-height: 65%;
    margin: 0 auto;
}
#conteudo{
    min-height: 25%;
}
/**************************************
 ***** TAG de Estrutura de texto  *****
 **************************************/
a:link{
    color:darkblue;
}
a:visited{
    color:darkgreen;
}
a:hover{
    color:darkgrey;
    text-decoration:underline;
}

/********************************************
 ***** Monitor de computador e Notebook *****
 ********************************************/
@media only screen and (min-width: 1281px){
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #cabecalho{
        min-height: 130px;
        padding: 5px 32px;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 1em;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 0.9em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 0.9em;
        margin-left: 96px;
        text-justify: auto;
    }

    a{
        padding: 5px 32px;
        font-size: 1em;
        font-style: italic;
        text-decoration:none;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 15%;
        height: 5%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 1em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 1em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 1em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 280px 0 0;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

/********************************************
 *****           Monitor Celular         *****
 ********************************************/
@media only screen and (min-width:1025px) and (max-width:1280px){
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #cabecalho{
        min-height: 120px;
        padding: 5px 32px;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 1em;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 0.9em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 0.9em;
        margin-left: 96px;
        text-justify: auto;
    }

    a{
        padding: 5px 32px;
        font-size: 1em;
        font-style: italic;
        text-decoration:none;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 17%;
        height: 7%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 1em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 1em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 1em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 170px 0 0;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

/********************************************
 *****           Monitor Tablet         *****
 ********************************************/
@media only screen and (min-width: 961px) and (max-width:1024px){
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #cabecalho{
        min-height: 95px;
        padding: 5px 32px;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 0.9em;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 0.8em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 0.8em;
        margin-left: 96px;
        text-justify: auto;
    }
    a{
        padding: 5px 32px;
        font-size: 1em;
        font-style: italic;
        text-decoration:none;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 15%;
        height: 5%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 1em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 1em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 1em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 160px 0 0;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

/********************************************
 ***** Monitor de computador e Notebook *****
 ********************************************/
@media only screen and (min-width: 736px) and (max-width: 960px){
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #cabecalho{
        min-height: 120px;
        padding: 5px 32px;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 0.9em;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 0.8em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 0.8em;
        margin-left: 96px;
        text-justify: auto;
    }
    a{
        padding: 5px 32px;
        font-size: 1em;
        font-style: italic;
        text-decoration:none;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 20%;
        height: 10%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 1em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 1em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 1em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 130px 0 0;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

/********************************************
 *****          Monitor Celular         *****
 ********************************************/
@media only screen and (min-width: 720px) and (max-width: 735px){
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #cabecalho{
        min-height: 110px;
        padding: 5px 32px;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 0.8em;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 0.7em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 0.7em;
        margin-left: 96px;
        text-justify: auto;
    }
    a{
        padding: 5px 32px;
        font-size: 0.9em;
        font-style: italic;
        text-decoration:none;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 25%;
        height: 10%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 0.9em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 0.9em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 0.9em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 60px 0 0;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

/********************************************
 ***** Monitor de computador e Notebook *****
 ********************************************/
@media only screen and (max-width: 719px){
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #cabecalho{
        min-height: 90px;
        padding: 5px 32px;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 0.7em;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 0.7em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 0.7em;
        margin-left: 96px;
        text-justify: auto;
    }

    a{
        padding: 5px 32px;
        font-size: 0.9em;
        font-style: italic;
        text-decoration:none;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 25%;
        height: 20%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 0.9em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 0.9em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 0.9em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 45px 0 0;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

/********************************************
 *****             Impressora           *****
 ********************************************/
@media only print{
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #wrapper{
        width: 210mm;
        height: 297mm;
        margin: 0;
    }
    #cabecalho{
        margin-top: 3mm;
        margin-bottom: 1mm;
        min-height: 5mm;
    }
    #conteudo{
        margin-bottom: 2mm;
        margin-left: 3mm;
        margin-right: 3mm;
        min-height: 200mm;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        font-size: 1em;
        margin-left: 8mm;
    }
    h1{
        text-align: center;
        font-size: 1.6em;
        margin-top: 3mm;
        margin-bottom: 1mm;
    }
    h2{
        font-size: 1.4em;
        margin-left: 3mm;
        margin-right: 2mm;
    }
    h3{
        font-size: 1.2em;
        margin-left: 8mm;
    }
    li{
        font-size: 1em;
        margin-left: 16mm;
    }
    img, a{
        display: none;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        display: none;
    }
    .text_li{
        margin-left: 23mm;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

