/*@charset "UTF-8";*/
/********************************************************************
 *****  CSS Documents                                           *****
 ********************************************************************
 *****  moz-linear-gradienter(red, green) - Firefox             *****
 *****  webkit-linear-gradienter(red, green) - Safari, Chrome   *****
 *****  o-linear-gradienter(red, green) - Opera                 *****
 ********************************************************************/
 /*   conteudo: #F2B705
    cabecalho: #F29F05
    equivalente: #D97904
    pepagina: #733702
    auxiliar: #401801 */

/********************************************
 *****              Monitor             *****
 ***** 736 x 1360 px - Monitor 15.6"    *****
 ***** 720 x 1280 px - Celular k9       *****
 ***** 600 x 1024 px - Tablet 7"        *****
 ********************************************/
/************************
 ***** Neutralidade *****
 ************************/
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, html, body, header, div, footer{
  margin: 0;
  padding: 0;
}
html, body{
    background-color: #FFFFFF;
    font-family: Arial, "Times New Roman";
}
/**************************************
 ***** TAG de Estrutura da página *****
 **************************************/
body{
    width: 100%;
    height: 100%;
}

/********************************************
 ***** Monitor de computador e Notebook *****
 ********************************************/
@media only screen and (min-width: 1281px){
    /**************************************
     ***** TAG de Estrutura da página *****
     **************************************/
    /*body{
        width: 100%;
        height: 100%;
    }*/
    header{
        width: 90%;
        height: 7%;
        margin: 0 auto;
    }
    /*div{
        width: 90%;
        min-height: 65%;
        background-color: brown;
        margin: 0 auto;
    }*/
    footer{
        width: 90%;
        height: 4%;
        margin: 0 auto;
    }
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #wrapper{
        width: 90%;
        min-height: 65%;
        margin: 0 auto;
    }
    #cabecalho{
        min-height: 130px;
        padding: 5px 32px;
    }
    #conteudo{
        min-height: 25%;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 1.2em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 1.2em;
        margin-left: 96px;
        text-justify: auto;
    }

    a{
        padding: 5px 32px;
        font-size: 1.5em;
        font-style: italic;
        text-decoration:none;
    }
    a:link{
        color:darkblue;
    }
    a:visited{
        color:darkgreen;
    }
    a:hover{
        color:darkgrey;
        text-decoration:underline;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 15%;
        height: 5%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 1.5em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 1.2em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 1.2em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 180px 0 0;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 2em;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

/********************************************
 *****           Monitor Celular         *****
 ********************************************/
@media only screen and (min-width:1025px) and (max-width:1280px){
    /**************************************
     ***** TAG de Estrutura da página *****
     **************************************/
    header{
        width: 90%;
        height: 7%;
        background-color: floralwhite;
        margin: 0 auto;
    }
    footer{
        width: 90%;
        height: 4%;
        background-color: aqua;
        margin: 0 auto;
    }
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #wrapper{
        width: 90%;
        min-height: 65%;
        margin: 0 auto;
    }
    #cabecalho{
        min-height: 95px;
        background-color: yellow;
        padding: 5px 32px;
    }
    #conteudo{
        min-height: 25%;
        background-color: brown;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 1em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 1em;
        margin-left: 96px;
        text-justify: auto;
    }

    a{
        padding: 5px 32px;
        font-size: 1.2em;
        font-style: italic;
        text-decoration:none;
    }
    a:link{
        color:darkblue;
    }
    a:visited{
        color:darkgreen;
    }
    a:hover{
        color:darkgrey;
        text-decoration:underline;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 15%;
        height: 5%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 1.2em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 1.2em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 1.2em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 110px 0 0;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 1.5em;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/

/********************************************
 *****           Monitor Tablet         *****
 ********************************************/
@media only screen and (max-width:1024px){
    /**************************************
     ***** TAG de Estrutura da página *****
     **************************************/
    header{
        width: 90%;
        height: 7%;
        margin: 0 auto;
    }
    footer{
        width: 90%;
        height: 4%;
        margin: 0 auto;
    }
    /****************************************************
     *****  Estrutura das DIV's do corpo da pagina  *****
     ****************************************************/
    #wrapper{
        width: 90%;
        min-height: 65%;
        margin: 0 auto;
    }
    #cabecalho{
        min-height: 95px;
        padding: 5px 32px;
    }
    #conteudo{
        min-height: 25%;
    }
    /**************************************
     ***** TAG de Estrutura de texto  *****
     **************************************/
    p{
        padding: 1px;
        font-size: 0.8em;
        margin-left: 64px;
        text-justify: auto;
    }
    li{
        padding: 1px;
        font-size: 0.8em;
        margin-left: 96px;
        text-justify: auto;
    }

    a{
        padding: 5px 32px;
        font-size: 1.5em;
        font-style: italic;
        text-decoration:none;
    }
    a:link{
        color:darkblue;
    }
    a:visited{
        color:darkgreen;
    }
    a:hover{
        color:darkgrey;
        text-decoration:underline;
    }
    /**************************************
     ***** TAG de Estrutura de imagem *****
     **************************************/
    img{
        width: 15%;
        height: 5%;
    }
    /************************
     *****    Classe    *****
     ************************/
    .text_h1{
        padding: 5px auto;
        font-size: 2em;
        text-align: center;
    }
    .text_h2{
        clear: both;
        padding: 1px;
        font-size: 0.9em;
        margin-left: 32px;
    }
    .text_h3{
        padding: 1px;
        font-size: 0.9em;
        margin-left: 64px;
    }
    .esquerda{
        float: left;
        padding: 0 110px 0 0;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 1em;
    }
    .text_li{
        margin-left: 128px;
    }
}
/********************************************
 *****              Fim                 *****
 ********************************************/